#apptitle {
    color: #A0C1B8;
    background-color: #726A95;
    width: fit-content;
    padding: 10px;
    border-radius: 4px;
    margin: 20px;
}

#searchparams {
    font-size: x-large;
    margin-left: 50px;
    color:#726A95;
     width:80%;
     border-bottom: solid 3px #719FB0;
     padding-bottom: 10px;
}
.carddisplay {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: center;
    gap: 25px;
    margin: 20px
}
.card {
    border-radius: 3px;
    border: solid 3px #719FB0;
    min-width: fit-content;
    padding: 0;

}
.cardheader {
    margin: 0;
    padding: 0 15px 0 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: #719FB0;
    color:#351F39;
    box-shadow: 2px -2px #719FB0, -2px -2px #719FB0, 2px 0  #719FB0;
}
.cardheader div{
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
}
.carduser, .carddate{
    margin: 0;
}
.carddesc{
    margin: 15px;
}
.cardsnippet{
    margin: 10px 10px 10px 10px;
    width: auto;
    padding: 8px 8px 8px 18px;
    display:block;
    white-space:pre-line;
    border-radius: 3px;
    background-color: #A0C1B8;
    color:#351F39;
    text-justify: center;
    text-align: left;
}
.cardlang {
    border-top: solid 2px #719FB0;
    text-align: center;
    margin: 8px 0 8px 0;
    padding: 8px 0 4px 0;
}

footer{
    margin: 10px;
}