<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./snippet.css">
    <title>Code Closet</title>
    
</head>
<header>
    <h1 id="apptitle" class="title">Code Closet</h1>
        <nav id="navbar">
            <h2 class="navbtn" id="profile">Profile</h2>
            <h2 class="navbtn" id="signup">Signup</h2>
            <h2 class="navbtn" id="login">Login</h2>
            <h2 class="navbtn" id="logout">Logout</h2>
            <div id="search">
                <label for="searchbar">Search</label>
                <input type="search" class="searchbar" id="searchbar" name="searchbar">
            </div>
                <button id="newsnippetbtn">Create New Snippet</button>
            </div>
        </div>
        </nav>

</header>
<body>
    <section class="snippetdisplay">
            <h3 class="snippettitle"> Title of Snippet</h3>
    <p class="snippetdesc">This is a description of what the code does</p>
        <div class="snippetbody">
        <code>function Bio(props) {
    return (
      &lt;aside&gt;
        &lt;h2 style={styles.heading}&gt;About Me&lt;/h2&gt;
        &lt;hr style={styles.heading} /&gt;
          &lt;section class="undeployed"&gt;
            &lt;h2&gt;
              Ivy Lovegood
            &lt;/h2&gt;
          &lt;figcaption class="page-description"&gt;Thanks for checking out my Portfolio! I am a creative and dedicated web developer, though my interests in software engineering go far beyond. I have a decade of experience with technology and electronics in many forms. Blah blah blah, blah blah lorem ipsum blah blah this isn't really important to what I'm doing&lt;/figcaption&gt;
        &lt;/section&gt;
      &lt;/aside&gt;
    );
   }
 </code>
</div>
<div class="snippetdata">
    <h4 class="snippetlang">Javascript</h4>
    <ul class="snippettags">
        <li class="tag">tag</li>
        <li class="tag">also tag</li>
        <li class="tag">another tag</li>
        <li class="tag">look! tag</li>
    </ul>
</div>
    </section>
    <section class="commentsection">
        <div>
            <div class="commentcard">
                <div class="commenthead"></div>
              
              <div class="comment">
                <p class="commentcontent">
                  {{comment.body}}
                </p>
                <p class="commentdata">
                  -
                  <a href="/profile/{{user.id}}">{{user.name}}
                  </a>
                  {{format_date date_created}}
                </p>
              </div>
              </div>
        </div>
    </section>
</body>