body {
    background-color: #351F39;
    color: #719FB0;
    margin: 0
}

header {
    display: flex;
flex-flow: column nowrap;
align-content: flex-start;
background: linear-gradient(160deg, #719FB0 60%, #A0C1B8);
border-bottom: 5px #719FB0 ridge;
color: #351F39;
margin: 0;
width: 100vw
}
.navbtn {
    margin: 10px;
    width: fit-content;
}
#navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    justify-items: flex-start;
    align-content: center;
    margin: 10px 20px 20px 20px;
}
#search{
    gap: 8px;
    margin:auto;
   display: flex;
   flex-flow: row nowrap;
}
#search label{
    font-weight: 600;
    margin: auto;
}
#searchbar{
    margin:auto;
}
#newsnippetbtn {
    background-color: #726A95;
    border-radius: 3px;
    border: ridge 3px #351F39;
    color:#A0C1B8;
    width: 60px;
    margin: auto 20px auto 10px;
    align-self: flex-end;
}
#apptitle {
    color: #A0C1B8;
    background-color: #726A95;
    width: fit-content;
    padding: 10px;
    border-radius: 4px;
    margin: 20px;
}

.snippettitle{
    font-size: x-large;
    margin: 20px 60px 10px 40px;
    padding-bottom: 20px;
    border-bottom: solid 2px #719FB0;
}
.snippetdesc{
    margin-left: 60px;
    font-size: large;
}
.snippetbody{
    margin: 20px 60px 30px 60px;
    background-color: black;
    color: green;
display:block;
white-space: break-spaces;
border-radius: 5px;
border: groove white 3px;
}
.snippetdata{
    border-top: solid 2px #719FB0;
    margin: 20px 60px 20px 60px;
}
.snippettags{
    display: flex;
    flex-flow: row wrap;
}
.tag{
    background-color: black;
    color:#726A95;
    width: fit-content;
    padding: 5px;
    border-radius: 3px;
    border: solid 2px #726A95;
    margin: 5px;
    list-style: none;
}

.commentsection{
    margin: 10px 60px 20px 60px;
}
.commentcard {
    border: 2px solid #475d5b;
    border-radius: 5px;
    height: fit-content;
    margin: 15px 5px 15px 5px;
    display: flex;
    flex-flow: column nowrap;
    width: 60%;
    position: relative;
    left: 30px;
  }
  .commenthead {
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    justify-content: space-between;
    height: 10px;
    width: 100%;
    background-color: #A0C1B8;
  }
  .commenthead * {
    margin: 5px 10px 5px 10px;
  }
  
  .commentbody {
    align-self: center;
    width: 95%;
    font-size: large;
    font-weight: 500;
    margin: 5px 30px 0 10px;
    display: flex;
    flex-flow: column nowrap;
  }
  .commentcontent {
    font-size: large;
    font-weight: 400;
    margin: 5px 5px 5px 15px;
  }
  .commentinput {
    width: 95%;
    height: fit-content;
    align-self: center;
    justify-self: center;
  }
  .commentdata a:hover {
    cursor: pointer;
  }
  .commentdata a a:link {
    color: #f2f7f5;
  }
  .commentdata a a:active {
    color: #fa5246;
  }
  .commentdata a a:visited {
    color: #ffa8ba;
  }
  .commentdata {
    color: #91aba9;
    font-size: small;
    margin-left: 30px;
  }
  .commentdata a {
    font-size: medium;
    font-weight: 400;
  }